.headerChat {
    background-color: rgb(243, 245, 94);
    text-align: center;
    font-size: 20px;
}
.titleChatBox {
    margin-bottom: 10px;
}
.chatBox {
    background-color: beige;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 100px;
    overflow: scroll;
}

.messageInout{
    margin-left: 5px;
}

.messageInput{
    padding-right: 100px;
    margin-left: 10px;
}

.messageButton{
    font-weight: bold;
    border:solid 2px;
    border-radius: 20%;
    padding-top: 2px;
    margin-left: 10px;
}

.messageButton:hover{
    background-color: rgb(242, 245, 66);
}

